.case-banner .slick-slider.slick-initialized .slick-arrow::before{
    position: absolute;   
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    background: #EFBC43;
    opacity:1;
    z-index: 10;
    height: 60px;
    width: 60px;
    border-radius: 8px;
    background-image: url('/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    content: '';
}
.case-banner .slick-slider.slick-initialized .slick-arrow.slick-disabled::before {
    background-color: #F4D17E;
}


.case-banner .slick-slider.slick-initialized .slick-arrow.slick-prev{
    left: auto;
    top: auto;
    bottom: 50px;
    right: 150px;
    opacity: 1;
    z-index: 1;

}
.case-banner .slick-slider.slick-initialized .slick-arrow.slick-next{
    right: 30px;
    opacity: 1;
    top: auto;
    bottom: 30px;
    z-index: 1;
    rotate: 180deg;
}

.case-container{
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center center !important;
}