
@font-face {
  font-family: "Gilroy-Bold";
  src: url("/fonts/Gilroy-Bold.otf");
}

.odometer-inside{
  color: #08425D;
  font-family: Gilroy-Bold;
  font-weight: bold;
  margin-right:0;
  text-wrap: nowrap;
}

.odometer.odometer-auto-theme .odometer-digit .odometer-digit-inner, .odometer.odometer-theme-default .odometer-digit .odometer-digit-inner{
  left:-2px !important;
}