.main-container{
    width: 100%;
    max-width: 540px;
    padding-left: 12px;
    padding-right: 12px;
}

/* max-w-[540px] md:max-w-[720px] lg:max-w-[960px] */

@media only screen and (min-width: 768px) {
    .main-container{
        max-width:720px;
    }


  }

  @media only screen and (min-width: 1024px) {
    .main-container{
        max-width:960px;
    }
  }

  @media only screen and (min-width: 1280px) {
    .main-container{
      width: 100%;
        max-width:1216px;
        padding-left: 0;
      padding-right: 0;
  }
    }

   
    .active-arrow-right{
      animation: arrowAnimation 1.5s infinite;

    }

    .active-arrow-left{
      animation: arrowAnimationLeft 1.5s infinite;
    }
    
  
    @keyframes arrowAnimation {
      0% {
          transform: translateX(0);
      }
      50% {
          transform: translateX(5px);
      }
      100% {
          transform: translateX(0);
      }
  }
  @keyframes arrowAnimationLeft {
      0% {
          transform: translateX(0);
      }
      50% {
          transform: translateX(-5px);
      }
      100% {
          transform: translateX(0);
      }
  }
   

.btn-custom{
  height: 54px;
}