
.comp-slider .slick-slider.slick-initialized .slick-list .slick-track{
    display: flex !important;
    align-items: center;
}

.comp-slider .slick-slider.slick-initialized .slick-list .slick-slide .single-slide{
    display: flex !important;
    justify-content: center;
    width: auto;
    align-items: center;
}


 /* @media only screen and (min-width: 1400px) {
    .comp-slider .slick-slider.slick-initialized .slick-list .slick-slide{
        width: auto;
    }


  } */