/* .company-slider .slick-slider.slick-initialized .slick-list .slick-slide{ */
        /* height: 106px; */
        /* width: 300px;  */
        /* display: flex;
        
        justify-content: center; */
/* }  */

.company-slider .slick-slider.slick-initialized .slick-list .slick-slide div
{
        display: flex !important;
        gap: 10px;
        justify-content: space-between;
        /* margin-left: 5px;
        margin-right: 5px; */
        /* overflow: auto; */
        align-items: center;
       
}

@media only screen and (max-width: 650px) {
        .company-slider .slick-slider.slick-initialized .slick-list .slick-slide>div
        {
               /* margin-right: 20px; */
               
        }
        }


@media only screen and (max-width: 640px) {
        .company-slider .slick-slider.slick-initialized .slick-list .slick-slide>div
        {
               margin-right: 40px;
               
        }
        .inner-slides{
                justify-content: center;
                align-items: center;
        }
        .company-slider .slick-slider.slick-initialized .slick-list .slick-slide div
{
        
       justify-content: center;
}
        }


 @media only screen and (min-width: 640px) {
.company-slider .slick-slider.slick-initialized .slick-list .slick-slide>div
{
       margin-right: 100px;
       
}
}
@media only screen and (min-width: 761px) {
        .company-slider .slick-slider.slick-initialized .slick-list .slick-slide>div
        {
               margin-right: 20px;
               
        }
}
@media only screen and (min-width: 964px) {
        .company-slider .slick-slider.slick-initialized .slick-list .slick-slide>div
        {
               margin-right: 40px;
               
        }
}
@media only screen and (min-width: 1080px) {
        .company-slider .slick-slider.slick-initialized .slick-list .slick-slide>div
        {
               margin-right: 60px;
               
        }
}
@media only screen and (min-width: 1200px) {
        .company-slider .slick-slider.slick-initialized .slick-list .slick-slide>div
        {
               margin-right: 80px;
               
        }
}




/* @media only screen and (min-width: 560px) {
        .company-slider .slick-slider.slick-initialized .slick-list .slick-slide div
        {
            
            margin-left: 10px;
            margin-right: 10px;
            justify-content: space-between;
        }
      } */
    
      /* @media only screen and (min-width: 768px) {
        .company-slider .slick-slider.slick-initialized .slick-list .slick-slide div
        {
               
                margin-left: 20px;
                margin-right: 20px;
                justify-content: space-between;
        }
      } */
    
      /* @media only screen and (min-width: 1280px) {
        .company-slider .slick-slider.slick-initialized .slick-list .slick-slide div
        {
          width: 100%;
            max-width:1216px;
        }
} */



 @media only screen and (max-width: 640px) {
        .company-slider .slick-slider.slick-initialized .slick-list 
        {
            
            width: auto !important;

        }
        .company-slider .slick-slider.slick-initialized .slick-list .slick-track
        {
            
            display: flex;
            flex-wrap: nowrap;
            
            
        }
        .company-slider .slick-slider.slick-initialized .slick-list .slick-track .inner-slides
        {
                    
            
            
        }
      
      } 
