
.b2gold.cs-back-image{
    width: 100%;
}

@media only screen and (max-width: 1023px) {
  .b2gold.cs-back-image div{
    background-position: center right;
  }
}



@media only screen and (min-width: 1024px) {
    .b2gold.cs-back-image{
        width: calc(100% - 600px);
    }
    .b2gold.cs-back-image div{
      background-size: cover;
      background-position: center right -51px;     
    }
    
  }

  @media only screen and (min-width: 1281px) {
    .b2gold.cs-back-image{
        width: calc(100% - 800px);
    }
    
  }

  @media only screen and (min-width: 1381px) {
    /* .b2gold.cs-back-image{
      width: 400px;
  } */
  .b2gold.cs-back-image div{
    background-size: cover;
    background-position: center right -50px;
  }

  }

  @media only screen and (min-width: 1921px) {
    .b2gold.cs-back-image{
        width: 526px;
    }
    .b2gold.cs-back-image div{
      background-position: center right -50px;
      background-size: cover;
    }
    
  }
 