.history-cards .slick-slider.slick-initialized .slick-track {
    display: flex !important;
    gap: 20px !important;
    /* overflow-x: auto; */
    padding-bottom: 10px;
 }
 

 .history-cards .slick-slider .slick-list{
    overflow: unset;
    
 }
 
 /* ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {    
     background: #f1f1f1; 
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  } */

  
  .history-nav {
    max-width: 100px;
  
  }
  
  .history-nav .slick-initialized .slick-slide{
    width: 100%;
    text-align: center;
  }

  .history-nav .slick-slider.slick-initialized .slick-track{
    height: 469px;
    width: 66px;
    display: flex;
    flex-direction: column;
    gap:10px;
  }
/* 
  .history-cards .slick-slider.slick-initialized .slick-track{
    
    width: auto !important;
    overflow-x: auto;
  } */


  .history-nav .slick-slider.slick-initialized .slick-arrow::before{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    height: 24px;
    width: 24px;
  }

  .history-nav .slick-slider.slick-initialized .slick-arrow.slick-prev{
    left: 10px;
    top: -20px;
    bottom: auto;
    rotate: 90deg;
    opacity: 1;
    z-index: 1;

}
.history-nav .slick-slider.slick-initialized .slick-arrow.slick-next{
    right: auto;
    opacity: 1;
    top: auto;
    left: 10px;
    bottom:-20px;
    z-index: 1;
    rotate: 90deg;
}

/* .history-nav .slick-slide .slick-active .slick-current{
    color: #344054;
} */

.history-nav .slick-slide.slick-active.slick-current{
    color: #EFBC43 !important;
}

/* .history-cards .slick-slide{
    width: auto !important;
} */