
                              /* STYLES FOR CASE STUDIES LOGO SLIDER */

.case-studies-slider .slick-slider.slick-initialized .slick-list .slick-track{
    display: flex !important;
    align-items: center;
}

.case-studies-slider .slick-slider.slick-initialized .slick-list .slick-slide .single-slide{
    display: flex !important;
    justify-content: center;
    width: auto;
    align-items: center;
    height: 65px;
}

                              /* STYLES FOR CASE STUDIES SLIDER */


.case-studies-swiper.swiper {
   /* width: auto; */
    height: 100%;
    width: 100%;
  }

.case-studies-swiper .swiper-slide {
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px !important;
    /* width: auto !important; */
  }
  
 

  @media only screen and (max-width: 1280px) {
    .case-studies-swiper .swiper-slide{
       
      max-width: 80vw !important;
       
   }
  }



                                    /* CASE STUDIES SPLIDE STYLES */

 .case-studies-splide .single-slide{
  display: flex;
  justify-content: center;
  width: auto;
  height: 65px;
  /* align-items: center; */
 }
