
.banner-slider .slick-slider.slick-initialized .slick-dots{
    position: absolute;
    display: none;
    /* top: auto; */
    right: 0;
    bottom: 40px;
    left: 0px;
    margin: 0 auto;
    /* max-width: 500px; */
    width: 100%;
    max-width: 540px;
    /* border: 1px solid red;
    background: red; */
    display: flex !important;
    justify-content: start;
    align-items: center;
    /* padding: 0px 12px; */
}

.banner-slider .slick-slider.slick-initialized .slick-dots li button:before{
    color: white;
    opacity: 100%;
    
}

.banner-slider .slick-slider.slick-initialized .slick-dots li.slick-active button:before{
    color: #63C1EC;
    opacity: 100%;
}

.img-container{
    /* background-position:bottom 0 center; */
    background-repeat: no-repeat;
 background-size: cover !important;
 /* background-position: center !important; */
}
/* 
@media only screen and (max-width: 555px) {
    .banner-slider .slick-slider.slick-initialized .slick-dots{
        left: 0;
    }
  } */

/* @media only screen and (max-width: 767px) {
    .banner-slider .slick-slider.slick-initialized .slick-dots{
        left: 100px;
    }
  } */

  @media only screen and (max-width: 1280px) {
    .banner-slider .slick-slider.slick-initialized .slick-dots{
        left: 20px !important;
    }
  }



  @media only screen and (min-width: 768px) {
    .banner-slider .slick-slider.slick-initialized .slick-dots{
        max-width:720px;
        bottom: 60px;
    }
  }

  @media only screen and (min-width: 1024px) {
    .banner-slider .slick-slider.slick-initialized .slick-dots{
        max-width:960px;
        bottom: 80px;
    }
  }

  @media only screen and (min-width: 1280px) {
    .banner-slider .slick-slider.slick-initialized .slick-dots{
      width: 100%;
        max-width:1216px;
    }
  }


/* for creating circle loading  */

.progress-round {
    transform: rotate(-90deg);
    position: relative;
    left: -4px;
    bottom: 4.5px;
}
.circle-origin {
    fill: transparent;
    stroke: #CDECF9;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-dasharray: 125.664px;
    stroke-dashoffset: 125.664px;
}
.slick-slider.slick-initialized .slick-dots li.slick-active .circle-origin {
    animation: progress 17s;
}
.custom-pagination {
    font-size: 0;
}
/* .odo_count p {
    max-width: 250px;
} */
 
 
@keyframes progress {
    0% {
        stroke-dashoffset: 125.664px;
    }
 
    90% {
        stroke-dashoffset: 0;
    }
 
    100% {
        stroke-dashoffset: -125.664px;
    }
}


[data-animate] {
    opacity: 0;
    transition: all 1.5s ease-out;
  }
  [data-animate="bottom"] {
    transform: translate3d(0, 25px, 0);
  }
  
  .slick-slider.slick-initialized .slick-active [data-animate] {
    opacity: 1;
    transform: none;
}
.slick-slider.slick-initialized .slick-active .slider-heading {
    transition-delay: 0.6s;
}
.slick-slider.slick-initialized .slick-active .slider-desc {
    transition-delay: 1s;
}