/*///////////////////////////////////////// MINING HERO SPLIDE SLIDER STYLES////////////////////// //////////////////// */

.mining-hero-splide .single-slide {
  display: flex;
  justify-content: center;
  width: auto;
  height: 142px;
  /* align-items: center; */
}

/*///////////////////////////////////////// MINING LOGO SPLIDE SLIDER STYLES////////////////////// //////////////////// */


.mining-logo-splide .single-slide{
    display: flex;
    justify-content: center;
    width: auto;
    height: 71px;
    /* align-items: center; */
   }
  

   /*///////////////////////////////////////// MINING TEXT SLICK SLIDER STYLES////////////////////// //////////////////// */

   .text-slider{
    width: 100%;
    display: block !important;
    overflow: hidden;
   }

   .text-slider .slick-slide div{
    display: inline-block !important;
    text-wrap: nowrap;
    max-width: max-content;
    /* border-bottom: 1px solid red; */
   }

   .text-slider .slick-slide .slick-active.slick-current{
    border-bottom: 1px solid red;
   }

   
  /* @media only screen and (max-width: 1024px) {
    .text-slider{
        max-width: min-content;
        overflow: hidden;
       }
  } */


     /*///////////////////////////////////////// MINING SOFTWARE SOLUTION STYLES////////////////////// //////////////////// */


      .gif-container:hover .card-gif{
        opacity: 1;
      }
      .gif-container:hover .card-thumb{
        opacity: 0;
      }