/* ////////////////////////////////////////////////////////HERO SECTION STYLES ///////////////////////////////////// */

.cs-back-image{
    width: 100%;
}


@media only screen and (min-width: 1024px) {
    .cs-back-image{
        width: calc(100% - 600px);
    }
    
  }

  @media only screen and (min-width: 1281px) {
    .cs-back-image{
        width: calc(100% - 800px);
    }
    
  }

  @media only screen and (min-width: 1921px) {
    .cs-back-image{
        width: 526px;
    }
    
  }

  .cs-hero-img2{
    opacity: 50%;
  }
 

  .cs-img-container{
    width: 100%; /* Adjust width as needed */
     /* Adjust height as needed */
    background-image: url('/cedar-valley-lodge-dormitories-grassy-patch-springtime.jpg');
    background-position: right; /* Positions the image to the right and bottom */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
    background-size: cover; 
  }
