.features-slider .swiper-backface-hidden .swiper-slide{
    width: auto;
    display: flex;
    justify-content: center;
}

.features-slider div.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden{
    overflow: hidden;
}

 @media only screen and (max-width: 440px) {
    .features-slider div.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden .swiper-wrapper{
       height: 800px;
    }


  }

  @media only screen and (min-width: 1000px) {
    .features-slider div.swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden .swiper-wrapper{
      /* height: 900px; */
    }


  }