.active{
    color: #EFBC43;
}


.custom-transition::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: #EFBC43;
    transition: .3s ease all;
    overflow: hidden;
}

.custom-transition.active::before {
    width: 100%;
}