/* .history-nav .swiper.swiper-initialized .swiper-vertical{
    height: 400px !important;
} */

.history-nav .swiper.swiper-initialized.swiper-vertical{
    height: 469px;
}
.history-nav .swiper.swiper-initialized.swiper-vertical .swiper-wrapper{
    padding: 40px 20px;
}

div.swiper.swiper-initialized.swiper-horizontal{
    padding-bottom: 30px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.history-year .swiper-button-disabled{
    background-color: transparent !important;
}

/* .history-nav .swiper-slide.swiper-slide-active{
    color: #EFBC43;
} */

.history-year .swiper-slide.swiper-slide-active{
    color: #10688E;
    font-weight: 600;
}

.history-card .swiper-scrollbar.swiper-scrollbar-horizontal{
    background: rgb(255,255,255,10%); 
    height: 10px;
    padding: 2px 0px;
    opacity: 90%;
}

.history-card .swiper-scrollbar-drag{
    background-color: #63C1EC;
    
}

.history-card .swiper.swiper-initialized.swiper-horizontal{
    width: auto !important;
    /* max-width: 340px !important; */
    /* overflow: unset; */
    
}

.history-year .swiper.swiper-initialized.swiper-vertical{
        position: inherit;
}

