
.right-choice.cs-back-image{
    width: 100%;

}

@media only screen and (max-width: 1024px) {
  .right-choice.cs-back-image div{
    background-position: center;
  }
}

@media only screen and (min-width: 1024px) {
    .right-choice.cs-back-image{
        width: calc(100% - 600px);
    }
    .right-choice.cs-back-image div{
      background-position: center right -50px;
  }
    
    
  }

  @media only screen and (min-width: 1281px) {
    .right-choice.cs-back-image{
        width: calc(100% - 800px);
    }
    
  }
  
  @media only screen and (min-width: 1761px) {
    .right-choice.cs-back-image div{
      background-position: center right -20px;
    }
    
  }
  @media only screen and (min-width: 1831px) {
    .right-choice.cs-back-image div{
      background-position: center right -2px;
    }
    
  }


  @media only screen and (min-width: 1921px) {
    .right-choice.cs-back-image{
        width: 526px;
    }
    .right-choice.cs-back-image div{
      background-size: cover;
      background-position: center right -100px;
    }
    
  }
 