
.clean-harbor.cs-back-image{
    width: 100%;
}

@media only screen and (max-width: 1024px) {
  .clean-harbor.cs-back-image div{
    background-position: center;
  }
}

@media only screen and (min-width: 1024px) {
    .clean-harbor.cs-back-image{
        width: calc(100% - 600px);
    }
    .clean-harbor.cs-back-image div{
      background-position: center right -10px;
  }
    
  }

  @media only screen and (min-width: 1281px) {
    .clean-harbor.cs-back-image{
        width: calc(100% - 800px);
    }
    
  }

   
  @media only screen and (min-width: 1580px) {
    .clean-harbor.cs-back-image div{
        background-size: auto;
    }
    
  }

  @media only screen and (min-width: 1921px) {
    .clean-harbor.cs-back-image{
        width: 526px;
    }
    .clean-harbor.cs-back-image div{
      background-position: center;
      background-size: cover;
    }
    
  }
 