
.kiewit.cs-back-image{
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .kiewit.cs-back-image div{
      background-position: center;
    }
  }

@media only screen and (min-width: 1024px) {
    .kiewit.cs-back-image{
        width: calc(100% - 600px);
    }
    .kiewit.cs-back-image div{
        background-position: center right -100px;
    }
     /* .kiewit.cs-back-image img{
        position: relative;
        background-position: 4%;
     } */
    
  }

  @media only screen and (min-width: 1281px) {
    .kiewit.cs-back-image{
        width: calc(100% - 800px);
    }
    
  }
  /* @media only screen and (min-width: 1840px) {
    .kiewit.cs-back-image img{
        height: 105%;
        position: relative;
        bottom: 4%;
    } 
}*/

  @media only screen and (min-width: 1630px) {
    .kiewit.cs-back-image div{
       /* background-size: cover; */
       background-position: center right -10px;     
       
    } 
}

@media only screen and (min-width: 1830px) {
    .kiewit.cs-back-image div{
        
        background-size: cover;
        background-position: center right -100px;
    } 
}


  @media only screen and (min-width: 1921px) {
    .kiewit.cs-back-image{
        width: 526px;
    }
    
  }
 