@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gilroy-Black";
    src: url("/fonts/Gilroy-Black.ttf");
  }

  @font-face {
    font-family: "circular-std-medium";
    src: url("/fonts/circular-std-medium.ttf");
  }


  @font-face {
    font-family: "Gilroy-BlackItalic";
    src: url("/fonts/Gilroy-BlackItalic.ttf");
  }

  @font-face {
    font-family: "Gilroy-Bold";
    src: url("/fonts/Gilroy-Bold.otf");
  }

  @font-face {
    font-family: "Gilroy-BoldItalic";
    src: url("/fonts/Gilroy-BoldItalic.ttf");
  }

  @font-face {
    font-family: "Gilroy-ExtraBold";
    src: url("/fonts/Gilroy-ExtraBold.ttf");
  }

  @font-face {
    font-family: "Gilroy-ExtraBoldItalic";
    src: url("/fonts/Gilroy-ExtraBoldItalic.ttf");
  }

  @font-face {
    font-family: "Gilroy-Heavy";
    src: url("/fonts/Gilroy-Heavy.ttf");
  }

  @font-face {
    font-family: "Gilroy-HeavyItalic";
    src: url("/fonts/Gilroy-HeavyItalic.ttf");
  }


  @font-face {
    font-family: "Gilroy-Light";
    src: url("/fonts/Gilroy-Light.ttf");
  }
  @font-face {
    font-family: "Gilroy-LightItalic";
    src: url("/fonts/Gilroy-LightItalic.ttf");
  }

  @font-face {
    font-family: "Gilroy-Medium";
    src: url("/fonts/Gilroy-Medium.ttf");
  }
  @font-face {
    font-family: "Gilroy-MediumItalic";
    src: url("/fonts/Gilroy-MediumItalic.ttf");
  }

  
  @font-face {
    font-family: "Gilroy-Regular";
    src: url("/fonts/Gilroy-Regular.ttf");
  }
  @font-face {
    font-family: "Gilroy-RegularItalic";
    src: url("/fonts/Gilroy-RegularItalic.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-SemiBold";
    src: url("/fonts/Gilroy-SemiBold.ttf");
  }
  
  @font-face {
    font-family: "Gilroy-SemiBoldItalic";
    src: url("/fonts/Gilroy-SemiBoldItalic.ttf");
  }

  
  @font-face {
    font-family: "Gilroy-Thin";
    src: url("/fonts/Gilroy-Thin.ttf");
  }

  
  @font-face {
    font-family: "Gilroy-ThinItalic";
    src: url("/fonts/Gilroy-ThinItalic.ttf");
  }

  
  @font-face {
    font-family: "Gilroy-UltraLight";
    src: url("/fonts/Gilroy-UltraLight.ttf");
  }
  @font-face {
    font-family: "Gilroy-UltraLightItalic";
    src: url("/fonts/Gilroy-UltraLightItalic.ttf");
  }

  
  @font-face {
    font-family: "TextCalibre-Medium";
    src: url("/fonts/TextCalibre-Medium.ttf");
  }
  @font-face {
    font-family: "TextCalibre-Regular";
    src: url("/fonts/TextCalibre-Regular.ttf");
  }

  
  @font-face {
    font-family: "tt_commons_pro_medium";
    src: url("/fonts/tt_commons_pro_medium.ttf");
  }
  
  @font-face {
    font-family: "tt_commons_pro_normal";
    src: url("/fonts/tt_commons_pro_normal.ttf");
  }
  
  @font-face {
    font-family: "tt_commons_pro_regular";
    src: url("/fonts/tt_commons_pro_regular.ttf");
  }

  
@layer components {
  .btn-orange {
    @apply bg-custom-button font-ttCommonProMedium font-semibold tracking-[0.8px] text-btn-text hover:bg-btn-hover;
  }
  .main-container{
    @apply w-full px-5 max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1216px] xl:px-0
  }
  /* .main-container{
    @apply w-full px-5 xl:max-w-[1216px] xl:px-0;
  } */
  .heading-h1{
    @apply font-gilroyBold font-bold text-custom-heading text-[30px] leading-[35px] md:text-[32px] md:leading-[37px] lg:text-[40px] lg:leading-[46px] xl:text-[50px] xl:leading-[60px];
  }
  .heading-h2{
    @apply text-[25px] md:text-[32px] lg:text-[36px] lg:leading-[45px] xl:text-h2 text-custom-heading font-gilroyBold xl:leading-[3rem];
  }
  .sub-heading{
    @apply font-ttCommonProMedium font-medium text-base leading-6 md:text-lg md:leading-[28.8px] text-custom-body;
  }
  .card-heading{
    @apply font-gilroyBold text-custom-heading text-lg leading-[22px] md:text-xl md:leading-6 lg:text-2xl lg:leading-[28.8px] font-normal;
  }
  /* ... */
}

html{
  scroll-behavior: smooth;
  overflow-anchor: none;
}