
.petroplex.cs-back-image{
    width: 100%;
}


@media only screen and (min-width: 1024px) {
    .petroplex.cs-back-image{
        width: calc(100% - 600px);
    }
    .petroplex.cs-back-image div{
      background-position: center right -10px;
  }
    
  }

  @media only screen and (min-width: 1281px) {
    .petroplex.cs-back-image{
        width: calc(100% - 800px);
    }
    
  }

  @media only screen and (min-width: 1630px) {
    .petroplex.cs-back-image div{
       background-size: cover;
       background-position: top right -1px;     
       
    } 
}

  @media only screen and (min-width: 1921px) {
    .petroplex.cs-back-image{
        width: 526px;
    }
    
  }
 